.table{
    display: flex;
    overflow-x: scroll;
    margin: 15px;
}
.column{
    display: flex;
    flex-direction: column;
}
.cell{
    margin: 1px;
}
.time{
    height: 150px;
    width: 100%;
}
.sticky{
    position: sticky;
    left: 0;
    z-index: 10;
}