.table{
    display: flex;
    overflow-x: scroll;
    margin: 15px;
}
.column{
    display: flex;
    flex-direction: column;
}
.cell{
    margin: 1px;
}
.time{
    height: 150px;
    width: 100%;
    background-color: var(--card-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticky{
    position: sticky;
    left: 0;
    z-index: 10;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
}
h1{
    padding: 5px;
    
}