.table {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.sticky{
    position: sticky;
}
.cell {
    margin: 10px;
    height: 150px;
}
