<div class="card">
    <div *ngFor="let data of processedData()" class="flex">
        <ng-container *ngIf="data.lesson">
            <h2>{{data.lesson}}</h2>
            <div class="content">
                <p>
                    <a [href]="'https://zsem.edu.pl/plany/plany/'+data.room.id" class="link">
                        {{data.room.short}}
                    </a>
                </p>
                <p>
                    <a [href]="'https://zsem.edu.pl/plany/plany/'+data.teacher.id" class="link">
                        {{data.teacher.long || data.teacher.short}}
                    </a>
                </p>
            </div>

        </ng-container>
    </div>
</div>